// Global
// ==================================================
$font-family-base: 			'Montserrat', 'Open Sans', 'Verdana', sans-serif;
$font-family-second: 		'Daniel', 'Open Sans', 'Verdana', sans-serif;

$color-base:				#2c4059;
$text-color-first:			#c3136a;
$text-color-second:			#1e2f7c;
$text-color-third:			#e00069;

$transition: 				all 0.3s ease;
// ==================================================



// Hamburger
// ==================================================
$hamburger-layer-width: 	42px;
$hamburger-layer-height: 	2px;
$hamburger-layer-spacing: 	8px;
$hamburger-layer-color: 	#fff;
// ==================================================



// Bootstrap
// ==================================================
$grid-breakpoints-max: (
	xxl: 1570px
);
$grid-breakpoints: map-merge($grid-breakpoints, $grid-breakpoints-max);
// ==================================================