// Global
// ==================================================
$font-family-base: 		'Rubik', 'Open Sans', 'Verdana', sans-serif;

$color-base:			#808080;
$color-second:			#2d3236;

$transition: 			all 0.3s ease;
// ==================================================